<%= render 'shared/page_title', title: "All Chefs" %>

<ul class="nav nav-tabs">
	<li>
		<%= link_to "Recipes" , recipe_index_path %>
	</li>
	<li class="active">
		<%= link_to "Chefs", chefs_path %>
	</li>
</ul>

<div class="row">
	<div class="col-md-4 col-md-offset-4 center">
		<%= will_paginate @chefs %>
	</div>
</div>
<!-- List all the chefs -->
<% @chefs.each do |chef| %>
	&nbsp; <!-- margem :) -->
	<div class="row">
		<div class="col col-md-2 col-md-offset-5 center">
			<div class="thumbnail">
				<%= link_to ( image_tag(chef.profile_picture.url, class: "img-responsive media-object", alt: "Profile", 
				'data-toggle' => 'tooltip', 'data-placement' => 'top', title: "#{chef.chefname}") ), chef_path(chef) %>
				<br />
				<strong><%= chef.chefname %></strong>
			</div>

		</div>
	</div>
<% end %>	
<div class="row">
	<div class="col-md-4 col-md-offset-4 center">
		<%= will_paginate @chefs %>
	</div>
</div>