<%= render 'shared/page_title', title: "Edit Recipe" %>
<!-- Passando o objeto como argumento para
o partial -->
<%= render 'shared/errors', obj: @recipe %>
<div class="row">
	<!-- data-trigger="focus" faz com que so popover desapareca apenas clicnado fora-->
	<section class="col-md-2 col-md-offset-10 col-sm-2 col-sm-offset-10">
    <button type="button" class="btn btn-primary glyphicon glyphicon-question-sign" data-container="body" data-toggle="popover"
  			data-placement="bottom" data-title="Help to create new recipe" data-trigger="focus" 
				data-content="Some text for help instructions Some text for help instructions Some text for help instructions">
		</button>
  </section>
	<section class="col-md-8 well col-md-offset-2 col-sm-8 well col-sm-offset-2">
		<!-- Atenção na form para update -->
		<!-- html fild para tratar do upload de imagens -->
		<%= form_for(@recipe, :url => recipe_path(@recipe), html: {multipart: true} )  do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name %>
			
			<%= f.label :summary %>
			<%= f.text_field :summary %>

			<%= f.label :description %>
			<!-- rows 10 maior tamanho do textarea -->
			<%= f.text_area :description, rows: 10 %>

			<strong>Styles:</strong>
			<%= f.collection_check_boxes :style_ids, Style.all, :id, :name do |b| %>
				<% b.label(class: "checkbox-inline input_checkbox"){ b.check_box(class: "checkbox") + b.text } %>
			<% end %>
			</br>
			<strong>Ingredients:</strong>
			<%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |i| %>
				<% i.label(class: "checkbox-inline input_checkbox"){ i.check_box(class: "checkbox") + i.text } %>
			<% end %>
			 </br></br>
			<span class="picture">
				<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>				
			</span>

			<%= f.submit 'Save', class: "btn btn-success" %>
		<% end %>
	</section>
	

</div>


<script type="text/javascript">
	$('#recipe_picture').bind('change', function(){
		size_in_megabytes = this.files[0].size/1024/1024;
		if (size_in_megabytes > 3) {
			alert('Maximun file size is 3 Mb');
		}
	});
</script>
