<h1>All Recipes</h1>
<!-- List all the recipes -->
<hr/>
<% @recipes.each do |recipe| %>
	<div class="row">
		<div class="col col-md-2 col-sm-2">
			<section class="chef_info center">
				<%=  gravatar_for recipe.chef, size: 100 %>
				<h5> Chef name: <%= recipe.chef.chefname  %></h5>					
			</section>
		</div>
		<!-- Recipe content -->
		<div class="col col-lg-8 well">	
			<h4><%= link_to recipe.name, "#" %></h4>
			<p>
				<%= recipe.summary %>
			</p>
			<p>
				<span class="quiet">
					<small>
					<!-- Ótima função que mostra o tempo 
					de forma amigável  -->
					<%=	time_ago_in_words(recipe.created_at)%> ago.
					</small>
				</span>
			</p>
		</div>
	</div>	
	<hr/>	
<% end %>	
