<%= render 'shared/page_title', title: "Create a New Recipe" %>
<!-- Passando o objeto como argumento para
o partial -->
<%= render 'shared/errors', obj: @recipe %>

<div class="row">
	<div class="well col-md-8 col-md-offset-2">
		<!-- Atenção na form -->
		<%= form_for @recipe , url: {action: "create"} do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name %>
			
			<%= f.label :summary %>
			<%= f.text_field :summary %>

			<%= f.label :description %>
			<!-- rows 10 maior tamanho do textarea -->
			<%= f.text_area :description, rows: 10%>

			<%= f.submit 'Save', class: "btn btn-success" %>
		<% end %>
	</div>
</div>