<%= render 'shared/page_title', title: @recipe.name %>
	<div class="row">
		<div class="col-md-2 col-sm-2 col-xs-2 pull-right center">
			<div class="thumbnail">
				<%= link_to ( image_tag(@recipe.chef.profile_picture.url, class: "img-responsive media-object", alt: "Profile", 
				'data-toggle' => 'tooltip', 'data-placement' => 'top', title: "#{@recipe.chef.chefname}") ), chef_path(@recipe.chef) %>
				<br />
				Brought to You By: <strong><%= @recipe.chef.chefname %></strong>			
				<br />
			</div>
		</div>
		<div class="col-md-8 col-sm-8 col-xs-8">
			<h3><%= @recipe.summary %></h3>
			
			<div class="img-responsive center-block">
				<%= image_tag(@recipe.picture.url) if @recipe.picture? %>
			</div>
			<br />
			<div class="well without_link_underline scroll_style">
				<% if @recipe.styles.any? %>
					<!-- procura por um partial nessas pastas -->
					<p><i>Styles:	<%= render @recipe.styles %></i></p>
				<% end %>
				<% if @recipe.ingredients.any? %>
					<p><i>Ingredients:	<%= render @recipe.ingredients %></i></p>
				<% end %>
				<p><strong>Steps:</strong></p>
				<!-- Para deixar o texto da mesma forma
				com foi digitado, com os enters e tudo mais -->
				<%= simple_format(@recipe.description) %>
				<!-- Like version 1 -->
				<p>
					<span class="quiet">
						<small>	Created:
						<%=	time_ago_in_words(@recipe.created_at)%> ago.
						</small>
					</span>
					<span class="quiet pull-right">
						<small> Updated: 
						<%=	time_ago_in_words(@recipe.updated_at)%> ago.
						</small>
					</span>
				</p>

				<div class="pull-right">
					<!-- Atenção no formato do link sempre informado
					pelo rake routes, aqui temos um like direcionado
					a receita que está sendo acessada pelo user -->
					<%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
						<button type="button" class="btn btn-primary">
							<span class="glyphicon glyphicon-thumbs-up"> 
								<span class="badge">
									<%= @recipe.thumbs_up_total %> 
								</span>
							</span>
						</button>
					<% end %>	  
					<%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
						<button type="button" class="btn btn-danger">
							<span class="glyphicon glyphicon-thumbs-down"> 
								<span class="badge">
									<%= @recipe.thumbs_down_total %> 
								</span>
							</span>
						</button>
					<% end %>	
				</div>


			</div>
		</div>
		<% if logged_in? && @recipe.chef == current_user %> <!-- Se logado e o usuário atual
		é o dono dessa receita ele pode ver ess botão de edição -->
			<section class="col-md-8 col-sm-8 col-xs-8">
				<div class="btn-group" role="group" aria-label="...">
			  		<div class="btn-group" role="group" aria-label="...">  
			      	<%= link_to 'Edit this Recipe', edit_recipe_path(@recipe) , class: "btn btn-default btn-space" %>
					  </div>
				</div>
				<div class="btn-group" role="group" aria-label="...">
			  		<div class="btn-group" role="group" aria-label="...">  
			      	<%= link_to 'Delete this Recipe', recipe_path(@recipe), method: :delete,  data: {confirm: "You sure of delete this recipe?"}, class: "btn btn-default btn-space" %>
					  </div>
				</div>
			</section>
		<% end %>	


		<div class="col-md-8 col-sm-8 col-xs-8">
			<button class="btn btn-info", id="comment-toggle">Comments ( <%= Comment.where(commentable_id: @recipe.id ).count %> ) </button>
		</div>


	<section id="comments-section", class="col-md-8 col-sm-8 col-xs-8">
		<!-- ver os comentarios daquele recipe-->	
		<!-- Sem contar com as respostas dadas ainda.......    -->	
	 	<ol id='comments', class="list-unstyled">
  		<%= render(partial: 'comments/comment', collection: @recipe.comments) %>
		</ol>
		<!-- <a href=""></a>dicionar comentario -->
		<br />
			<% if logged_in? %>

			
			<!-- Ajax  remote: true-->
				<%= form_for [@recipe, Comment.new ], remote: true do |f| %>
					<fieldset>
							<strong>Share a Comment:</strong>
							<%= f.text_area :body, rows: 3, placeholder: "Add a comment" %>
							<div class="col col-md-2 col-sm-2 col-xs-2 pull-right">
								<%= f.submit 'Share', class: "btn btn-xs btn-success" %>
							</div>
						</fieldset>
		


					<% end %><!-- end form -->
				<% end %><!-- end if -->
		</section>
 </div>
<!-- 
<p><button id="in">fadeIn()</button>
<button id="out">fadeOut()</button>
<button id="to">fadeTo()</button></p>
 -->



<!--  
	<div id="test"></div>
-->

<script type="text/javascript">
	var a = $( "#comments-section" );

	$( "#comments-link" ).click(function() {
	  a.fadeOut(1000, function() {
		 });
		});

	var test = $('#test'),
    $in = $('#in'),
    out = $('#out'),
    toggle = $('#comment-toggle'),
    to = $('#to');

		$in.click(function() {
		    a.fadeIn(1000, function() {
		        
		    });
		});
		    
		    
		out.click(function() {
		    a.fadeOut(1000, function() {
		        
		    });
		});


		toggle.click(function() {
		    a.fadeToggle(500, function() {
		        $('#comment_body').focus()
		    });
		});

		to.click(function() {
		    test.fadeTo(1000, 0.5, function() {
		    });
		});



</script>

