
  <header class="navbar navbar-fixedtop navbar-default">
    <div class="container">
      <div class="navbar-header">
        <!-- Collapse uma espécie de 
        sanduwiche nos elementos ao
        diminuir o tamanho da janela -->
        <button type="button" class="navbar-toggle
          collapsed"
          data-toggle="collapse"
          data-target="#collapsemenu"
          aria-expanded="false">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Main Link -->
        <%= link_to "MyRecipes", root_path, class: "navbar-brand" %>
        </div><!-- end header navbar -->    
        <div class="collapse navbar-collapse" id="collapsemenu">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "Chefs", chefs_index_path %>
            </li>
            <% if !logged_in? %>
              <li>
                <%= link_to "log in", login_path %>
              </li>
            <% end %>
            <!-- Usando os métodos de application controller
            também visíveis para as views 
            isso faz com que o botão new recipe só apareca para usuários logados-->
            <% if logged_in? %>
              <li>
                <%= link_to "Main", chef_path(current_user) %>                
              </li>
              <li>
                <%= link_to "Edit", edit_chef_path(current_user) %>
              </li>
              <li>
                <%= link_to "New Recipe", new_recipe_path %>                
              </li>
              <li>
                <%= link_to "logout", logout_path %>
              </li>
            <% end %>
         </ul>
        </div>        
      </div>
    </div>
  </header>
